html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | Jinee-stamp
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css")
        link(rel="stylesheet" href="/static/css/styles.css")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")    
        style(type="text/css").
            #decrease-btn { margin: 10px; border: 1px #6fbcf7 solid; border-radius: 5px; background-color: #6fbcf7; padding: 4px 20px; cursor: pointer;}
            #increase-btn { margin: 10px; border: 1px pink solid; border-radius: 5px; background-color: pink; padding: 4px 20px; cursor: pointer;}    
    body
        main 
            block content
        include partials/footer.pug
    script(src="/static/js/main.js") 
    block scripts 